<!DOCTYPE html>
<html>
<head>
  <title>ZombieTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>Zombies, Inc.</p>
<%= yield %>

</body>
</html>
